@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 51px;
}
h1, h2, h3, h4, h4, h6 {
    color: #2d3238;
    font-family: 'Lato', sans-serif;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 12px 22px;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    background: #303030;
    font-size: 14px;
    font-weight: 500;
    vertical-align: top;
    cursor: pointer;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
    white-space: nowrap;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: inset 0 -100px 0 rgba(41,41,41,0);
    box-shadow: inset 0 -100px 0 rgba(41,41,41,0);
    -webkit-appearance: none;
    margin-bottom: 15px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.button:hover,
.button:focus,
.button:active {
    color: #fff;
    -webkit-transition: 0.25s !important;
    transition: 0.25s !important;
    opacity: 1;
    -webkit-box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
    box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
    text-decoration: none;
}
hr.sep {
    display: block;
    margin: 2em auto;
    border: 1px solid #9dd8d9;
    width: 15%;
}
.section-header {
    padding: 60px 0;
}
.navbar-brand {
    padding-top: 8px;
    padding-bottom: 0;
}
#navigation .nav>li>a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.logo {
    height: 32px;
}
#showcase {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd8d9+0,4ca1af+100 */
background: rgb(157,216,217); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgb(157,216,217) 0%, rgb(76,161,175) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgb(157,216,217) 0%,rgb(76,161,175) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgb(157,216,217) 0%,rgb(76,161,175) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd8d9', endColorstr='#4ca1af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: rgba(255,255,255,.8);
    padding: 60px 0;
    overflow: hidden;
    position: relative;
}
#showcase .background {
    background-image: url('http://www.hartenergy.com/industryvoice/images/elements_header_background.png');
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

#showcase h1 {
    color: #fff;
    font-size: 4em;
    font-weight: 900;
    letter-spacing: .1em;
    margin-top: 0;
    text-transform: uppercase;
}
#showcase h3 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 30px 0;
}
#showcase .button {
    background-color: #fff;
    color:rgb(76,161,175);
    font-size: 16px;
    letter-spacing: 0.15em;
    margin-bottom: 0;
    padding: 12px 50px;
    text-transform: uppercase;
}
#intro {
    padding: 60px 0;
}
#intro h2 {
    margin: 0 auto .5em;
    font-weight: 300;    
    text-align: center;
}
#intro h2 span {
    font-weight: 900;
}
#intro h6 {
    color: #bec8ce;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
#intro h3 {
    font-size: 28px;
    margin: 0 0 10.5px 0;
    line-height: 1.2;
    color: #2d3238;
}
#intro .lead {
    color: #6c6f73;
    font-size: 19px;
    margin-bottom: 0;
}
#intro .readmore {
    color: #4ca1af;
    font-weight: normal;
}
#congratulations {
    background: #9dd8d9 url('http://www.hartenergy.com/industryvoice/images/elements_header_background.png') repeat;
    color: #fff;
    padding: 60px 0;
}
#profile-grid {
    background: #F4F5F6;
}
#profile-grid h3 {
    font-size: 28px;
    margin: 0 0 10.5px 0;
    line-height: 1.2;
    color: #2d3238;
}
#profile-grid .section-header p {
    margin-bottom: 0;
    color: #6c6f73
}
#profile-grid h6 {
    color: #bec8ce;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
#profile-grid .lead {
    color: #6c6f73;
    font-size: 19px;
    margin-bottom: 0;
}
#profile-grid .section-header hr {
    border-color: #bec8ce;
}
.sponsor-text {
    padding: 0 5%;
    margin-bottom: 0;
}
#profile-grid .element {
    background: #215556;
    display: block;
    float: left;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
}
#profile-grid .element .background {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .7;
    filter: alpha(opacity=70);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
#profile-grid .element a {
    display: block;
    width: 100%;
    height: 100%;
}
#profile-grid .element .element-spacer-wrapper {
    position: relative;
    width: 100%;
}
#profile-grid .element .element-spacer {
    margin-top: 100%;
}
#profile-grid .element .element-info {
    background-color: rgba(0, 0, 0,.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#profile-grid .element .element-info:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 0;
    z-index: 100;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
#profile-grid .element .element-info:hover {
    background-color: rgba(76,161,175,.6);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
#profile-grid .element .element-info svg {
    height: 80px;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: .3s all;
    transition: .3s all;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 40px;
}
#profile-grid .element .element-info:hover svg {
    opacity: 1;
    filter: alpha(opacity=100);
}
#profile-grid .element .element-info-name {
    color: #fff;
    display: inline-block;
    font-size: 1.375em;
    font-weight: 700;
    letter-spacing: .1em;
    opacity: 1;
    filter: alpha(opacity=100);
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    text-transform: uppercase;
    width: auto;
}
#profile-grid .element .element-info-company {
    display: block;
    font-size: .5em;
    font-weight: 300;
    letter-spacing: .1em;
}
#sponorship-bar {
    background-color: #ECF0F1;
    color: #444;
    letter-spacing: .1em;
    padding: 60px 0;
}
#footer {
    background-color: #000;
    padding: 60px 0;
    color: rgba(255,255,255,.8);
}
#footer ul {
    margin-bottom: 0;
}
#footer ul li {
    padding-left: 10px;
    padding-right: 10px;
}
#footer ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#footer .copyright p {
    margin-bottom: 0;
}

.parallax-layer
      { position:absolute; }

      
@media screen and (min-width: 1200px) {
    #showcase h1 {
        font-size: 6.250em;
    }

    #footer .copyright {
        text-align: right;
    }
}